body {
    margin: 0;
    padding: 0;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed; /* Agregado para fijar el fondo */
    height: 150vh;
    overflow: hidden;
    overflow-y: auto;
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    color: white;
}

.custom-style {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid white;
}

/* McThingiesBox.css */
.McThingiesBox {
    background-color: rgba(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid white;
    font-family: 'Press Start 2P', sans-serif;
}

.McThingiesBox .pixel-font {
    font-family: 'Press Start 2P', sans-serif;
}

.inusual {
    border-radius: 15px;
    background-color: #EBE19C;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border: 10px solid #B246E9;
    font-family: "Comic Sans MS", cursive;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ff00e8;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff00e8;
  }

.topnav {
    background-color: rgba(51, 51, 51, 0.5); /* 0.5 represents 50% transparency */
    overflow: hidden;
    text-align: center;
}

.topnav img {
    height: 35px;
    margin-right: 10px;
    float: left;
    padding: 10px;
}

.topnav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 17px;
    text-decoration: none;
    font-size: 17px;
}

a{
    color:#ff00e8;
}

.topnav a:hover {
    background-color: #ddd;
     color:#ff00e8;
}

.topnav a.active {
    background-color: #ff00f8;
    color: white;
}

.topnav .align-right {
    float: right;
}

.navbar {
    background-color: rgba(51, 51, 51, 0.5); /* 0.5 represents 50% transparency */
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    color: #f2f2f2
}

.navbar a {
    float: right; /* Change from float: left to float: right */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 10px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: #ff00f8;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#imageModal a {
    color: #ff00f8;
}

.modal-content img {
    width: 100%; /* Ensure the image takes up the full width of the modal */
    max-height: 80vh; /* Adjust the max-height as needed */
    object-fit: contain; /* Maintain the aspect ratio while fitting within the dimensions */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    z-index: 2;
    display: none; /* Initially hide the buttons */
}

.prev { left: 10px; }
.next { right: 10px; }

/* Show the buttons when the modal is open */
#imageModal .prev,
#imageModal .next {
    display: block;
}
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }